<section id="contact">
	<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
		{{ .Title }}
	</h1>
	<div class="text-center mx-auto mb-8">
		{{ .Content }}
	</div>

	<form class="w-full relative" method='{{ .Params.method | default "POST" }}' action="{{ .Params.action }}">

	<form method="post" action="https://formspree.io/f/xdoyvngk">
	    <div class="field half first">
	        <label for="name">Name</label>
	        <input type="text" name="name" id="name" style="color: black" />
	    </div>
	    <div class="field half">
	        <label for="email">Email</label>
	        <input type="text" name="email" id="email" style="color:  black" />
	    </div>
	    <div class="field">
	        <label for="message">Message</label>
	        <textarea name="message" id="message" rows="6" style="color: black"></textarea>
	    </div>
		<div class="float-right">
			<input type="reset" class="bg-secondary-dark dark:bg-secondary-light mr-2" value='{{ i18n "cancel" }}' />
			<input type="submit" class="bg-primary text-secondary" value='{{ i18n "submit" }}' />
		</div>	    
	</form>
</section>