/* Example css file */

/* body {
	background-color: white!important;
} */


h1 {
  word-break: break-word;	
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  word-break: break-word;	
  color: #363636;
  font-size: 1.5 rem;
  font-weight: 600;
}

h3 {
  word-break: break-word;	
  color: #363636;
  font-size: 1.3 rem;
  font-weight: 600;
}

h4 {
  word-break: break-word;		
  color: #363636;
  font-size: 1.2rem;
  font-weight: 600;
}